body {
  background-color: #333333;
}

#main-container {
  max-width: 85%; /* Max for the container */
  margin: 0 auto;   /* This will center the container */
  padding: 20px;    /* Add some space inside the container */
  background-color: rgba(255, 255, 255, 0.05); /* Make a box maybe */
  border-radius: 15px; /* give the container rounded corners */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* give a slight shadow */
  position: relative; /* This will allow us to position stuff inside the container */
}

#headliner-url {
  position: absolute;
  bottom: 1px; /* adjust me! */
  right: 1px; /* adjust me! */
}

.headliner-style {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: white;
    text-align:center;
}

.headliner-quote-style {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  color: white;
  text-align:center;
}

.headliner-context-style {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: rgb(225, 225, 225);
  text-align:center;
  font-style: italic;
  padding: 10px 0; /* Add some space above and below the context */
}

.headliner-antagonist-style {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: white;
  text-align:center;
  font-style: italic;
}

.headliner-url-style {
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  color: white;
  text-align: right;
  font-style: italic;
}

.headliner-container {
  display: flex;           /* Use flexbox to align child elements */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  gap: 10px;               /* The magic space between */
}

.button {
  padding: 15px 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a:link
{ /* unvisited link */
color: #ffffff;
font-size: 16px;
font-style: italic;
}
a:visited
{ /* visited link */
color: #ffffff;
font-size: 16px;
font-style: italic;
}
a:hover
{ /* mouse over link */
color: #ffffff;
font-size: 16px;
font-style: italic;
}
a:active
{ /* active link */
color: #ffffff;
font-size: 16px;
font-style: italic;
}

.banner_image_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rotate {
  transform: rotate3d(1,0,0,90deg); /* Create rotate */
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out; /* use ease-in-out - this will make the rotation transition smoothly */
  opacity: 0;  /* Hide element when upside down * poof! * magic! */
}

.rotate-back {
  transform: rotate3d(0,0,0,0deg); /* this will rotate the element back to its original state */
  transition: transform 0.8s ease-in-out, opacity 0.5s ease-in-out; /* use ease-in-out - this will make the rotation transition smoothly */
}
